<!DOCTYPE html>
<head><title>pixel</title>
<center><h1>PIXEL PERFECTION</h1></center>
<center><h2>Hello and Welcome!<h2></center>
</head>
<style>
body {
  background-image: url(https://st3.depositphotos.com/8605342/12815/i/950/depositphotos_128152286-stock-photo-clear-image-in-glasses-against.jpg);
 background-size: cover;
}
</style>
<body>
<center><h4 style="color:black"> I am Pixel Bee, your virtual assistant for achieving pixel-perfection in your images.<br> Pixel Bee : Transforming Your Photos Of Our Cutting-Edge Image Editing Platform <br><br>

Pixel Perfection is an innovative image editing platform that allows users to transform their photos with ease and precision. Our cutting-edge software provides a wide range of tools and features that enable users to edit their images to achieve pixel-perfect results.

 <br>  <br>   </h4></center>


<center><a href="loginn.html">Login</a><br><br><br><a href="sign up.html">Sign up</a></center>
</body>